[Unit]
Description=uWSGI instance to serve dancecards
After=network.target

[Service]
User=ubuntu
Group=home
WorkingDirectory=/home/ubuntu/nchb24
Environment="PATH=/home/ubuntu/nchb24/venv/bin"
ExecStart=/home/ubuntu/nchb24/venv/bin/uwsgi --ini dancecards.ini

[Install]
WantedBy=multi-user.target
