/* Styles as used for NEHB 2022 */
@media (max-width: 700px) {
  body {
    width: 520px;
  }
}

@media print {
  body {
    width: 10in;
  }

  .tenor {
    color: #000 !important;
  }

  h2 span {
    display none !important;
  }
  details, div { break-inside: avoid; }
  div.namebox {
    display: inline-block;
    height: 4em;
    width: 180px !important;
    border: 1px black solid;
    text-align: center;
    vertical-align: middle;
    margin: 2px 2px;
    position: relative;
  }
}

table.schedule {
  border-collapse: collapse;
}

table.schedule td {
  border: 1px solid lightgray;
  padding: 5px;
}

@font-face {
  font-family: "Computer Modern";
  src: url('fonts/cmunss.otf');
}
@font-face {
  font-family: "Computer Modern";
  src: url('fonts/cmunsx.otf');
  font-weight: bold;
}
body {
  font-family: "Computer Modern", sans-serif;
}
h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
h2 {
  font-size: 1.4em;
  text-align: center;
  font-weight: normal;
}
h2 span {
  font-weight: bold;
}
h2::before {
  content: "Your Name: ";
}
h3, summary {
  font-size: 1.2em;
  margin-top: 2em;
  margin-bottom: 0;
}
div.namebox {
  display: inline-block;
  height: 5em;
  width: 240px;
  border: 1px black solid;
  text-align: center;
  vertical-align: middle;
  margin: 5px 2px;
  position: relative;
}
div.namebox div.image {
  height: 15px;
  width: 15px;
  top: 5px;
  right: 5px;
  position: absolute;
  background-size: contain;
}
div.empty::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}
div.ready {
  cursor: pointer;
}
img.popup-image-a {
  max-width: 256px;
  max-height: 256px;
}
span.name {
  vertical-align: middle;
  display: inline-block;
  font-size: 1.2em;
}
div.filled {
  background-color: #f0f0f0;
}
div.filled span.address {
  line-height: 1.3em;
}
div.filled span.name {
  line-height: 1.6em;
  font-weight: bold;
}
span.address::before {
  content: ' ';
  display: block;
}
span.address {
  color: black;
  font-size: 0.9em;
}
span.alert {
  color: red;
  font-size: 1em;
}
/* UKHB 2022 colours
.tenor {
  color: #428BCA;
}
.tenor div.empty:hover {
  background-color: #428BCA;
  color: white;
}
.tenor div.filled {
  background-color: #cfdbe6;
}
.baritone {
  color: #5CB85C;
}
.baritone div.empty:hover {
  background-color: #5CB85C;
  color: black;
}
.baritone div.filled {
  background-color: #cfe6cf;
}
.bass {
  color: #e18f00;
}
.bass div.empty:hover {
  background-color: #e18f00;
  color: black;
}
.bass div.filled {
  background-color: #ffdfb0;
}
.lead {
  color: #D9534F;
}
.lead div.empty:hover {
  background-color: #D9534F;
  color: black;
}
.lead div.filled {
  background-color: #f4dcdc;
}
 End of UKHB 2022 colours. */

/* AHB 2023 colors */
tr.rowhighlight td, tr.rowhighlight th{
  background-color:#f0f8ff;
}
details.tenor summary, details.lead summary, details.baritone summary, details.bass summary {
  font-size: 1.5em;
}
.tenor {
  color: #DAA520;
}
.tenor div.empty:hover {
  background-color: #eedf00;
  color: black;
}
.tenor div.filled {
  background-color: #ffe788;
  color: black;
}
.tenor div.image {
  background-image: url('check_gold.png');
}

.lead {
  color: #5CB85C;
}
.lead div.empty:hover {
  background-color: #5CB85C;
  color: black;
}
.lead div.filled {
  background-color: #cfe6cf;
}
.lead div.image {
  background-image: url('check_green.png');
}

.baritone {
  color: #428BCA;
}
.baritone div.empty:hover {
  background-color: #428BCA;
  color: white;
}
.baritone div.filled {
  background-color: #cfdbe6;
  /* color: black; */
}
.baritone div.image {
  background-image: url('check_blue.png');
}

.bass {
  color: #8B4513;
}
.bass div.empty:hover {
  background-color: #954b1a;
  color: white;
}
.bass div.filled {
  background-color: #ffdfb0;
  color: #a55b2a;
}
.bass div.image {
  background-image: url('check_brown.png');
}

/* End of AHB 2023 colours*/

.stramp {
  background-image: url('tramp.png');
  background-position: bottom left;
  /* background-size: contain; */
  background-size: 3em;
  background-repeat: no-repeat;
}

div.empty:hover div.image {
  background-image: url('check_black.png');
}
div#infos {
  display: none;
  height: 1em; /* 3em */
}
div.infobox {
  text-align: center;
  transition: opacity 3s;
  transition-timing-function: cubic-bezier(1,1,1.0,0);
  -webkit-transition-timing-function: cubic-bezier(1,1,1.0,0);
}
div.cover {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
div.cover.hidden {
  display: none;
}

span.hidden {
  display: none;
}

div.popup {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
}
div.popup button {
  width: 200px;
  height: 60px;
  font-size: 1.3em;
  margin: 0 20px;
  margin-top: 40px;
  box-shadow: none;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
button.confirm {
  background-color: #1b3bc7;
  color: white;
}

button.confirm.hidden {
  display: none;
}

button.deny {
  background-color: #d2d2d2;
}

div.filled.ready {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}
