/* Styles as used for presenting Harmony Brigade Dance Cards. */
/* You should not have to edit this file to change colors. */

@import url("rallystyle.css"); /* If present: for matching rally-specific colors, and or the supertramp
                                  aspirant image. */

@media print {
  body {
    width: 10in;
  }

  .tenor {
    color: #000 !important;
  }

  .lead {
    color: #000 !important;
  }

  .baritone {
    color: #000 !important;
  }

  .bass {
    color: #000 !important;
  }

  h2 span {
    display none !important;
  }
  details, div { break-inside: avoid; }
  div.namebox {
    height: 4em;
    border: 1px black solid;
    text-align: center;
    vertical-align: middle;
    margin: 2px 2px;
    position: relative;
  }
}

:root {
    --spanWidth: 300px;
    --nameboxPadding: 0.3em;
}

button.randbutton {
    font-size: 1.5em;
}

button.listbutton {
    font-size: 1em;
}

.songlist {
    width: 100%;
    border-collapse: collapse;
}

.songlist tr:nth-child(odd) {
    background-color: #f4f4f4;
}

.songlist .keysig {
    font-weight: bold;
    white-space: nowrap;
}

.songlist td {
    padding: 0 5px 0 5px;
}

.songlist td:nth-child(3) {
    font-weight: bold;
}

.songlist em {
    display: block;
    font-weight: normal;
}

table.schedule {
  border-collapse: collapse;
}

table.schedule td {
  border: 1px solid lightgray;
  padding: 5px;
}

@font-face {
  font-family: "Computer Modern";
  src: url('fonts/cmunss.otf');
}
@font-face {
  font-family: "Computer Modern";
  src: url('fonts/cmunsx.otf');
  font-weight: bold;
}
body {
  font-family: "Computer Modern", sans-serif;
}
h1 {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}
h2 {
  font-size: 1.1em;
  text-align: center;
  font-weight: normal;
}
h2 span {
  font-weight: bold;
}
h2::before {
  content: "Your Name: ";
}
h3, summary {
  font-size: 1em;
/*   margin-top: 2em; */
  margin-bottom: 0;
}

div.namebox {
  min-height: 4em;
  border: 1px black solid;
  text-align: center;
  padding: var(--nameboxPadding);
  position: relative;
}
div.namebox div.image {
  height: 15px;
  width: 15px;
  top: 5px;
  right: 5px;
  position: absolute;
  background-size: contain;
}
div.ready {
  cursor: pointer;
}
img.popup-image-a {
  max-width: 256px;
  max-height: 256px;
}
span.name {
  font-size: 1.3em;
  line-height: 1.4em;
  white-space: nowrap;
}
div.filled {
  background-color: #f0f0f0;
}
div.filled span.address {
  line-height: 1.2em;
}
div.filled span.name {
  font-weight: bold;
}
span.address::before {
  content: ' ';
  display: block;
}
span.address {
  color: black;
  font-size: 0.8em;
}
span.alert {
  color: red;
  font-size: 1em;
}

tr.rowhighlight td, tr.rowhighlight th{
    background-color:#f0f8ff;
}
summary {
    font-size: 1.8em;
    line-height: 1.6;
}

.grid-container {
    display: grid;
    grid-gap: 0.3em;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--spanWidth) + 2px + var(--nameboxPadding)), 1fr));
}

/* These are intended to match badge lanyard colours. DO NOT CHANGE HERE.
   Instead, create your own in rallystyle.css. */
.tenor {
  color: var(--hb-tenor, #428BCA);
}
.tenor div.empty:hover {
  background-color: var(--hb-tenor-hover-bg, #428BCA);
  color: var(--hb-tenor-hover, white);
}
.tenor div.filled {
  background-color: var(--hb-tenor-filled-bg, #cfdbe6);
  color: var(--hb-tenor-filled, black);
}
.baritone {
  color: var(--hb-baritone, #5CB85C);
}
.baritone div.empty:hover {
  background-color: var(--hb-baritone-hover-bg, #5CB85C);
  color: var(--hb-baritone-hover, black);
}
.baritone div.filled {
  background-color: var(--hb-baritone-filled-bg, #cfe6cf);
  color: var(--hb-baritone-filled, black);
}
.bass {
  color: var(--hb-bass, #e18f00);
}
.bass div.empty:hover {
  background-color: var(--hb-bass-hover-bg, #e18f00);
  color: var(--hb-bass-hover, black);
}
.bass div.filled {
  background-color: var(--hb-bass-filled-bg, #ffdfb0);
  color: var(--hb-bass-filled, black);
}
.lead {
  color: var(--hb-lead, #D9534F);
}
.lead div.empty:hover {
  background-color: var(--hb-lead-hover-bg, #D9534F);
  color: var(--hb-lead-hover, black);
}
.lead div.filled {
  background-color: var(--hb-lead-filled-bg, #f4dcdc);
  color: var(--hb-lead-filled, black);
}
/*  End of HB colours. */

/* Special styling for super-tramping. */
.stramp:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  opacity: 40%;
  background-image: url('tramp.png');
  background-position: bottom left;
  background-size: 3em;
  background-repeat: no-repeat;
}

div.empty:hover div.image {
  background-image: url('check_black.png');
}
div#infos {
  display: none;
  height: 1em; /* 3em */
}
div.infobox {
  text-align: center;
  transition: opacity 3s;
  transition-timing-function: cubic-bezier(1,1,1.0,0);
  -webkit-transition-timing-function: cubic-bezier(1,1,1.0,0);
}
div.cover {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
div.hidden, span.hidden {
  display: none;
}
div.popup {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
}
div.popup button {
  min-width: 200px;
  height: 60px;
  font-size: 1.3em;
  margin: 1.2em 1em 0 1em;
  box-shadow: none;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
button.confirm {
  background-color: #1b3bc7;
  color: white;
}

button.confirm.hidden {
  display: none;
}

button.deny {
  background-color: #d2d2d2;
}

div.popup label:not(.fileupload) {
  display: block;
  margin: 0.9em auto;
  text-align: left;
}

div.popup input {
  display: block;
}

div.popup img {
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
  box-shadow:
    0 0 0 1px #999,
    0 1px 4px 2px rgba(0,0,0,.2);
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.self-picture-wrapper {
  display: inline-block;
  position: relative;
  width: 132px;
  height: 132px;
}

label.fileupload {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  width: 1.18em;
  background-color: #d2d2d2;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  box-shadow:
    0 0 0 1px #999,
    0 1px 4px 2px rgba(0,0,0,.2);
}

[type="checkbox"] {
  position: relative;
  left: 30px;
  top: 0px;
  z-index: 0;
  -webkit-appearance: none;
}
[type="checkbox"] + label {
  cursor: pointer;
  font-size: 1.1em;
  padding-right: 90px;
  position: relative;
}
[type="checkbox"] + label::before {
  width: 60px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid #ddd;
  background-color: #EEE;
  content: "";
  margin-right: 15px;
  transition: background-color 0.5s linear;
  z-index: 5;
  position: absolute;
  right: 0px;
  top: 5px;
}
[type="checkbox"] + label::after {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #fff;
  content: "";
  transition: margin 0.1s linear;
  box-shadow: 0px 0px 5px #aaa;
  position: absolute;
  right: 47px;
  top: 7px;
  z-index: 10;
}
[type="checkbox"]:checked + label::before {
  background-color: #1b3bc7;
}
[type="checkbox"]:checked + label::after {
  margin: 0 -30px 0 0;
}

div.filled.ready {
    animation: blinker 2s linear infinite;
    background-color: #5b5b5b;
    color: white;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}
