/* Styles as used for presenting Harmony Brigade Dance Cards. */
/* You should not have to edit this file to change colors. */

@import url("rallystyle.css"); /* If present: for matching rally-specific colors, and or the supertramp
                                  aspirant image. */

@media (max-width: 700px) {
  body {
    width: 520px;
  }
}

@media print {
  body {
    width: 10in;
  }

  .tenor {
    color: #000 !important;
  }

  .lead {
    color: #000 !important;
  }

  .baritone {
    color: #000 !important;
  }

  .bass {
    color: #000 !important;
  }

  h2 span {
    display none !important;
  }
  details, div { break-inside: avoid; }
  div.namebox {
    display: inline-block;
    height: 4em;
    width: 180px !important;
    border: 1px black solid;
    text-align: center;
    vertical-align: middle;
    margin: 2px 2px;
    position: relative;
  }
}

table.schedule {
  border-collapse: collapse;
}

table.schedule td {
  border: 1px solid lightgray;
  padding: 5px;
}

@font-face {
  font-family: "Computer Modern";
  src: url('fonts/cmunss.otf');
}
@font-face {
  font-family: "Computer Modern";
  src: url('fonts/cmunsx.otf');
  font-weight: bold;
}
body {
  font-family: "Computer Modern", sans-serif;
}
h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
h2 {
  font-size: 1.4em;
  text-align: center;
  font-weight: normal;
}
h2 span {
  font-weight: bold;
}
h2::before {
  content: "Your Name: ";
}
h3, summary {
  font-size: 1.2em;
  margin-top: 2em;
  margin-bottom: 0;
}
h4 { /* This is a sneaky/underhanded accessibility hack; refactor! */
  font-size: 0.25em;
  margin-bottom: 0;
  color: white; /* Specifically, this. */
}

div.namebox {
  display: inline-block;
  height: 5em;
  width: 240px;
  border: 1px black solid;
  text-align: center;
  vertical-align: middle;
  margin: 5px 2px;
  position: relative;
}
div.namebox div.image {
  height: 15px;
  width: 15px;
  top: 5px;
  right: 5px;
  position: absolute;
  background-size: contain;
}
div.empty::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}
div.ready {
  cursor: pointer;
}
img.popup-image-a {
  max-width: 256px;
  max-height: 256px;
}
span.name {
  vertical-align: middle;
  display: inline-block;
  font-size: 1.2em;
}
div.filled {
  background-color: #f0f0f0;
}
div.filled span.address {
  line-height: 1.3em;
}
div.filled span.name {
  line-height: 1.6em;
  font-weight: bold;
}
span.address::before {
  content: ' ';
  display: block;
}
span.address {
  color: black;
  font-size: 0.9em;
}
span.alert {
  color: red;
  font-size: 1em;
}

tr.rowhighlight td, tr.rowhighlight th{
  background-color:#f0f8ff;
}
details.tenor summary, details.lead summary, details.baritone summary, details.bass summary {
  font-size: 1.5em;
}

/* These are intended to match badge lanyard colours. DO NOT CHANGE HERE.
   Instead, create your own in rallystyle.css. */
.tenor {
  color: var(--hb-tenor, #428BCA);
}
.tenor div.empty:hover {
  background-color: var(--hb-tenor-hover-bg, #428BCA);
  color: var(--hb-tenor-hover, white);
}
.tenor div.filled {
  background-color: var(--hb-tenor-filled-bg, #cfdbe6);
  color: var(--hb-tenor-filled, black);
}
.baritone {
  color: var(--hb-baritone, #5CB85C);
}
.baritone div.empty:hover {
  background-color: var(--hb-baritone-hover-bg, #5CB85C);
  color: var(--hb-baritone-hover, black);
}
.baritone div.filled {
  background-color: var(--hb-baritone-filled-bg, #cfe6cf);
  color: var(--hb-baritone-filled, black);
}
.bass {
  color: var(--hb-bass, #e18f00);
}
.bass div.empty:hover {
  background-color: var(--hb-bass-hover-bg, #e18f00);
  color: var(--hb-bass-hover, black);
}
.bass div.filled {
  background-color: var(--hb-bass-filled-bg, #ffdfb0);
  color: var(--hb-bass-filled, black);
}
.lead {
  color: var(--hb-lead, #D9534F);
}
.lead div.empty:hover {
  background-color: var(--hb-lead-hover-bg, #D9534F);
  color: var(--hb-lead-hover, black);
}
.lead div.filled {
  background-color: var(--hb-lead-filled-bg, #f4dcdc);
  color: var(--hb-lead-filled, black);
}
/*  End of HB colours. */


.stramp {
  background-image: url('tramp.png');
  background-position: bottom left;
  /* background-size: contain; */
  background-size: 3em;
  background-repeat: no-repeat;
}

div.empty:hover div.image {
  background-image: url('check_black.png');
}
div#infos {
  display: none;
  height: 1em; /* 3em */
}
div.infobox {
  text-align: center;
  transition: opacity 3s;
  transition-timing-function: cubic-bezier(1,1,1.0,0);
  -webkit-transition-timing-function: cubic-bezier(1,1,1.0,0);
}
div.cover {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
div.cover.hidden {
  display: none;
}

span.hidden {
  display: none;
}

div.popup {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
}
div.popup button {
  width: 200px;
  height: 60px;
  font-size: 1.3em;
  margin: 0 20px;
  margin-top: 40px;
  box-shadow: none;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
button.confirm {
  background-color: #1b3bc7;
  color: white;
}

button.confirm.hidden {
  display: none;
}

button.deny {
  background-color: #d2d2d2;
}

div.filled.ready {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}
