<ul>
  <li>When in doubt, refresh the page, either by tapping/clicking on "{{ TITLE }}" at the top of the page or using your browser's refresh feature</li>
  <li>Using the venue's WiFi is usually more reliable than your cell carrier's network</li>
  <li>A "Quartet Tramp" is a person who sings one or more of the <i>current</i> Rally's official songs with everyone at the Rally who has a <i>different</i> voice part</li>
  <li>A "Quartet Super Tramp" is a Quartet Tramp who <i>also</i> sings with <i>everyone of their voice part</i></li>
  <li>This app is how you keep track and earn the appropriate award</li>
  <li>Tap/Click on a person's name to see their contact info and/or send them a sticker after you sing with them</li>
  <li>A checkmark in the upper-right corner of a name box means you sent them a sticker</li>
  <li>A pulsing name box means the person sent you a sticker and is waiting for yours - click on the box and send them their sticker!</li>
  <li>Collapse a whole voicepart by tapping/clicking on the triangle or text</li>
  <li>Your voicepart section is collapsed by default unless you are trying for Quartet Super Tramp</li>
  <li>Your voicepart section will expand if someone is going for ST and you haven't sung with them yet</li>
  <li>A voicepart section will will collapse if you have sung with everyone in that part (congrats!)</li>
  <li>Tap/Click on your name at the top of the page to:
    <ul>
      <li>change or add your picture</li>
      <li>indicate whether or not you are trying to be a Quartet Super Tramp; by default you aren't</li>
    </ul>
  </li>
  <li>"I sang with everyone, but I'm not a Super Tramp?"
    <ul>
      <li>Go to your name at the top of the page (see above) and indicate you are trying to be a Super Tramp</li>
      <li>Make sure none of your boxes are pulsing; if so, send those folk a sticker</li>
      <li>Make sure all your checked folk also have a filled in background; if not, try to find those folk and have them send you a sticker</li>
    </ul>
  </li>
  <li>"I heard <i>insert name</i> left the rally early; what happens?" In most cases we will mark the person as optional on the dancecard; please be patient and keep singing!</li>
  <li>This "app" will work on your phone, tablet, laptop, or wherever there's a decent internet browser</li>
  <li>Use your phone or tablet's "Add to Home Screen" option to make it easy to open</li>
  <li>Still stumped? Find {{ APP_ADMIN }}, who will help you <i>after</i> you sing together...</li>
  <li><a href="{{ RALLYSITE }}/static/credits.html" target="_blank" rel="noopener noreferrer">Credits/About</a> <i>(opens in a new tab)</i></li>
</ul>
