<!DOCTYPE html><html>
<head>
  <title>{{ TITLE }} Self Service</title>
  <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ RALLYSITE }}/static/style.css" />
</head>
<body>
<div class="cover"><div class="popup">
<form method="post" enctype="multipart/form-data" name="self-form">
  <div class="self-picture-wrapper">
    <img id="popup-image-a" height="128" src="{{ RALLYSITE }}/static/pix/{{s_photo}}.jpg" onerror="this.src='{{ RALLYSITE }}/static/pix/no_picture.jpg';" />
    <label for="self-picture" class="fileupload">+</label>
    <input id="self-picture" class="visuallyhidden" type="file" value="New Picture" name="file" accept="image/*" onchange="document.self-form.submit();" />
  </div>
  <input id="self-st" type="checkbox" name="supertramp" {{ stchecked }} onchange="document.self-form.submit();">
  <label for="self-st"><b>Quartet Super Tramp</b><br />Please check this if you are going for Quartet Super Tramp</label>

  <button id="self-submit" class="visuallyhidden" type="submit" value="Save">Save</button>
  <button class="deny" value="done" type="button" onclick="window.location.href='{{ RALLYSITE }}/card/{{ code }}';">Back</button>
</form>
<br />
<span class="alert">{{ formMsg }}</span>
</div></div>
</body>
</html>
