<button class="randbutton" onclick="sortSongList()">Randomize!</button>
<table id='songlist' class='songlist'>
<tr>
<td><button class="listbutton" onclick="sortTable(1)">Ord</button></td><td class='keysig'><button class="listbutton" onclick="sortTable(2)">Key</button></td><td><button class="listbutton" onclick="sortTable(3)">Title</button></td>
</tr>
<tr>
<td>1</td><td class='keysig'>C</i></td><td>If You Love Me <em>If you only say</em></td>
</tr>
<tr>
<td>2</td><td class='keysig'>Ab</td><td>Don't Know Why <em>Doo doo</em></td>
</tr>
<tr>
<td>3</td><td class='keysig'>Ab</td><td>If the Devil Danced (in Empty Pockets) <em>A nine-foot grand</em></td>
</tr>
<tr>
<td>4</td><td class='keysig'>D</td><td>Annie's Song <em>Loo loo loo</em></td>
</tr>
<tr>
<td>5</td><td class='keysig'>Db</td><td>All Of Me <em>You took my kisses</em></td>
</tr>
<tr>
<td>6</td><td class='keysig'>Bb</td><td>Accentuate the Positive <em>(LEAD) Gather round me</em></td>
</tr>
<tr>
<td>7</td><td class='keysig'>Eb</td><td>Wonderful One <em>Calling, calling, dear</em></td>
</tr>
<tr>
<td>8</td><td class='keysig'>G</td><td>That's Life <em>That's life</em></td>
</tr>
<tr>
<td>9</td><td class='keysig'>A</td><td>I'm Still Standing <em>dah______</em></td>
</tr>
<tr>
<td>10</td><td class='keysig'>Ab</td><td>Rhythm of Love <em>dih doot doot doo</em></td>
</tr>
<tr>
<td>11</td><td class='keysig'>F</td><td>New York, New York <em>Da da da da da</em></td>
</tr>
<tr>
<td>12</td><td class='keysig'>G</td><td>Midnight Serenade <em>(BASS) pah pah puh doo pah</em></td>
</tr>
</table>
