<button class="randbutton" onclick="sortSongList()">Randomize!</button>
<table id='songlist' class='songlist'>
<!--<tr>
<th><p class="listbutton" onclick="sortTable(1)">#&nbsp;&#x21D5;</p></th><th class='keysig'><p class="listbutton" onclick="sortTable(2)">Key &#x21D5;</p></th><th><p class="listbutton" onclick="sortTable(3)">Title &#x21D5;</p></th>
</tr>//-->
<tr>
<td>1</td><td class='keysig'>G</td><td>Happy Together <em>doot doot doot doot</em></td>
</tr>
<tr>
<td>2</td><td class='keysig'>F</td><td>May I Never Love Again <em>Oh, my love</em></td>
</tr>
<tr>
<td>3</td><td class='keysig'>Eb</td><td>Zing! Went the Strings of My Heart <em>I never could carry a tune</em></td>
</tr>
</table>
